page-home {
    .no-scroll .scroll-content{
        overflow: auto;
    }

    .ionCard{
        height: 180px;
        position: relative;
        margin-bottom: 30px;
    }

    .dark{
        background-color:#1E1E1E;
        color: aqua;
    }

    ion-input{
        color: aqua;
    }

    .card-subtitle {
        font-size: 1.3em;
        position: absolute;
        bottom: 1%;
        width: 100%;
        margin-left: 10px;
        color: #fff;
        background-color: rgba(37, 51, 43, 0.747);
        height: 18%;
    }
}
