page-home {
    .no-scroll .scroll-content{
        overflow: auto;
    }

    .welcome--header {
        color: $dark-purple;
        display: flex;
        justify-content: center;
    }

    .ionCard{
        height: 180px;
        position: relative;
        margin-bottom: 30px;
    }

    .dark{
        background-color:#1E1E1E;
        color: aqua;
    }

    ion-input{
        color: aqua;
    }

    .card-subtitle {
        font-size: 1.3em;
        position: absolute;
        bottom: 0.5px;
        width: 100%;
        color: #fff;
        padding: 10px 0 0 15px;
        background-color: rgba(37, 51, 43, 0.747);
        height: 25%;
    }
}
