// Header Sizes
$large: 3.0rem;
$toolbar-md-title-font-size: 1.3rem; 

// Colors
$absolute-light: #fff;
// =================== //
$medium-purple:  #7a00cc;
$light-purple: #9900ff;
$dark-purple: #6b00b3;
// =================== //
$light-green: rgb(55, 189, 178);
$lighter-green: rgb(88, 224, 179);

$gradient: linear-gradient(to right, $dark-purple 10%, $light-purple 20%, $light-green 56%, $lighter-green 100%);

