page-signup {
    .no-scroll .scroll-content{
        overflow: auto;
    }
    
    #trainer, #customer{
        width: 270px;
        height: 60px;
        color: white;
        background-color: $dark-purple;
        font-size: 1.7em;
    }

    #trainer{
        margin-top: 20%;
    }

    #customer{
        margin-top: 25%;
    }

    #or{
        color: $dark-purple;
        margin-top: 30%;
        font-size: 1.5em;
    }

    .dark{
        background-color: #fff;
        text-align: center;
    }
}
